<font size="14"><img src="https://imageserver.eveonline.com/Type/{{ shipid }}_32.png">{{ shipname }}</font>
<div>{{ desc }}</div>
<div>Ship generals</div>
<div>Ship Mass: <font id="mass"></font> -- Ship max. Velocity: <font id="veloc"></font></div>
<div id="highs"></div>
<div id="mids"></div>

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(function(){
		$.ajax({
			url: 'ajax/spawn/',
			data: { },
			dataType: 'json',
			success: function(data){
				$('#mass').html(data[4]);
				$('#veloc').html(data[37]);
				if(data[12]){
					var options_high = ""
					$.ajax({
						url: 'ajax/modules/',
						data: {
							'slot': 12,
						},
						async: false,
						success: function(data){
							$.each(data, function(k, v){
								options_high += "<option value="+k+">"+v+"</option>";
							});
						}
					});
					$('#highs').append("<b>High Slots</b>");
					for (h=0; h < data[14]; h++){
						$('#highs').append("<div><select id=highslot"+h+"><option value=0>Empty High Slot</option>");
						$('#highslot'+h).append(options_high);
						$('#highs').append("</select></div>");
					};
				};
				if(data[13]){
					var options_mid = ""
					$.ajax({
						url: 'ajax/modules/',
						data: {
							'slot': 13,
						},
						async: false,
						success: function(data){
							$.each(data, function(k, v){
								options_mid += "<option value="+k+">"+v+"</option>";
							});
						}
					});
					$('#highs').append("<b>Mid Slots</b>");
					for (m=0; m < data[14]; m++){
						$('#mids').append("<div><select id=midslot"+m+"><option value=0>Empty Mid Slot</option>");
						$('#midslot'+m).append(options_mid);
						$('#mids').append("</select></div>");
					};
				};
					
			}
		});
	});
</script>
{% endblock %}
