<font size="14"><img src="https://imageserver.eveonline.com/Type/{{ shipid }}_32.png">{{ shipname }}</font>
<div>{{ desc }}</div>
<div>Ship generals</div>
<div>Ship Mass: <font id="mass"></font> -- Ship max. Velocity: <font id="veloc"></font></div>
<div id="highs"></div>
<div id="mids"></div>
<div id="lows"></div>
<div id="rigs"></div>

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(function(){
		$.ajax({
			url: 'ajax/spawn/',
			data: { },
			dataType: 'json',
			success: function(data){
				$('#mass').html(data[4]);
				$('#veloc').html(data[37]);
				if(data[14]){
					var options_high = ""
					$.ajax({
						url: 'ajax/modules/',
						data: {
							'slot': 12,
						},
						async: false,
						success: function(data){
							$.each(data, function(k, v){
								options_high += "<option value="+k+">"+v+"</option>";
							});
						}
					});
					$('#highs').append("<b>High Slots</b>");
					for (h=0; h < data[14]; h++){
						$('#highs').append("<div><select id=highslot"+h+"><option value=0>Empty High Slot</option>");
						$('#highslot'+h).append(options_high);
						$('#highs').append("</select></div>");
					};
				};
				if(data[13]){
					var options_mid = ""
					$.ajax({
						url: 'ajax/modules/',
						data: {
							'slot': 13,
						},
						async: false,
						success: function(data){
							$.each(data, function(k, v){
								options_mid += "<option value="+k+">"+v+"</option>";
							});
						}
					});
					$('#highs').append("<b>Mid Slots</b>");
					for (m=0; m < data[13]; m++){
						$('#mids').append("<div><select id=midslot"+m+"><option value=0>Empty Mid Slot</option>");
						$('#midslot'+m).append(options_mid);
						$('#mids').append("</select></div>");
					};
				};
				if(data[12]){
					var options_low = ""
					$.ajax({
						url: 'ajax/modules/',
						data: {
							'slot': 11,
						},
						async: false,
						success: function(data){
							$.each(data, function(k, v){
								options_low += "<option value="+k+">"+v+"</option>";
							});
						}
					});
					$('#lows').append("<b>Low Slots</b>");
					for (l=0; l < data[12]; l++){
						$('#lows').append("<div><select id=lowslot"+l+"><option value=0>Empty Low Slot</option>");
						$('#lowslot'+l).append(options_low);
						$('#lows').append("</select></div>");
					};
				};
				if(data[1137]){
					var options_rig = ""
					$.ajax({
						url: 'ajax/modules/',
						data: {
							'slot': 2263,
						},
						async: false,
						success: function(data){
							$.each(data, function(k, v){
								options_rig += "<option value="+k+">"+v+"</option>";
							});
						}
					});
					$('#rigs').append("<b>Rig Slots</b>");
					for (r=0; r < data[1137]; r++){
						$('#rigs').append("<div><select id=riglot"+r+"><option value=0>Empty Rig Slot</option>");
						$('#rigslot'+m).append(options_rig);
						$('#rigs').append("</select></div>");
					};
				};
					
			}
		});
	});
</script>
{% endblock %}
